@charset 'UTF-8';
#filterstyle li{
	float:left;
	margin:15px;
	position:relative;
	left: 880px;
	font-size: 18px;
	font-weight: 700;
	font-style: 맑은고딕;
	
	
}

.mate-keyword input[type="text"]{
	background-color: rgb(233, 233, 233);
	border-radius: 10;
	margin-top:25px;
}
.mate-keyword input[type="text"]:focus{
    outline: 2px solid #007b04;
}
.mate-select{
	float:left;	
	padding:5px;
	margin-left:80px;
	margin-top:25px;
	padding: 0.8rem 2rem;
	border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
  
}
#matefind{
	margin-top:25px;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: var(--button-bg-color);
    color: white;
    
    margin: 0;
    padding: 0.8rem 2.5rem;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem 3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    
    transition: 0.5s;
  }
button.success {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --button-bg-color: #43a906;
    --button-hover-bg-color: #218838;
  }

.mate-title{
	padding:5px;
	font-size: 17px;
	font-weight: 700;
	font-style: 맑은고딕;
}
.mate-title a{
	color:#393939;
}

.mate-border{
	border: 2px solid;
	border-color :#42DF2B; 
  	border-radius: 40px;
  	padding:30px;
	width:1000px;
	
	margin: 0 auto;
  	margin-top:50px;
  	position:relative;
}
hr{
	
	border-color :#c6c6c6;
}
.mate-bold{
	color:#4f4f4f;
	font-size:18px;
	font-weight:700;
}
.mate-guide{
	color:#43a906;
	font-size:18px;
	font-weight:700;
}
.mate-normal{
	font-weight:700;
	color:#4f4f4f;
	font-size:15px;
}
.mate-regdate{
	float:right;
	font-weight:500;
}
.mate-updatedate{
	float:right;
	color:#ff0000;
	font-weight:700;
}
.form-group{
}
.mate-topinfo{
	float:left;
}
.user-img{
	width:50px; 
	height:50px;
	border-radius:50%;
}

