@charset 'UTF-8';
#filterstyle li{
	float:left;
	margin:15px;
	position:relative;
	left: 880px;
	font-size: 16px;
	font-weight: 700;
	font-style: 맑은고딕;
	
	
	
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: var(--button-bg-color);
    color: white;
    
    margin: 0;
  
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem 3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    
    transition: 0.5s;
    white-space: nowrap;
  }
.mate-keyword input[type="text"]{
	background-color: rgb(233, 233, 233);
	border-radius: 10;
	margin-top:10px;
	
	float:left;
	position: relative;
	margin-left:10px;
	height:40px;
	white-space: nowrap;
}
.mate-keyword input[type="text"]:focus{
    outline: 2px solid #007b04;
}
.mate-select{
	float:left;	
	padding:5px;
	margin-left:20px;
	margin-top:10px;
	padding: 0.8rem 2rem;
	border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
  
}

	
button.success {
	  padding: 0.8rem 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --button-bg-color: #43a906;
    --button-hover-bg-color: #218838;
    left:213px;
    top:25px;
    position: relative;
  }
  
button.find {
	  padding: 0.8rem 2.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --button-bg-color: #43a906;
    --button-hover-bg-color: #218838;
   
    position: relative;
    float:left;
    margin-top:12px;
    margin-left:10px;
    white-space: nowrap;
  }
.meetingplace{
	width:200px;
	font-size: 17px;
	font-weight: 700;
	font-style: 맑은고딕;	
	
}
.mate-title{
	padding:5px;
	font-size: 17px;
	font-weight: 700;
	font-style: 맑은고딕;	
}
.mate-title a{
	color:#393939;
}

.mate-border{
	border: 2px solid;
	border-color :#42DF2B; 
  	border-radius: 40px;
  	padding:30px;
	width:1000px;
	
	margin: 0 auto;
  	margin-top:50px;
  	position:relative;
}
hr{
	
	border-color :#c6c6c6;
}
.mate-bold{
	color:#4f4f4f;
	font-size:18px;
	font-weight:700;
}
.mate-guide{
	color:#43a906;
	font-size:18px;
	font-weight:700;
}
.mate-normal{
	font-weight:700;
	color:#4f4f4f;
	font-size:15px;
}
.mate-regdate{
	float:right;
	font-weight:500;
}
.mate-updatedate{
	float:right;
	color:#ff0000;
	font-weight:700;
}
.form-group{
}
.mate-topinfoImg{
	float:left;
	
}
.mate-topinfo{
	float:left;
	position:relative;
	left: 20px;
}
.user-img{
	width:50px; 
	height:50px;
	border-radius:50%;
}
.uploadBtn {
	background-color: white;
	border: none;
	color: black;
	padding: 5px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border: 1px solid green;
	border-radius: 15px;
	font-weight: bold;
	position:relative;
	
}

#content{
	width: 95%;
	height: 200px;
	resize: none;
}
#meetingplace{
	width:370px;
	height:70px;
}
.form-control{
	width:300px;
	height:50px;
	font-size:15;
}
.form-control#keyword{
	float:left;
}

.form-control#reply{
	resize:none;
	width:95%;
	height:15%;
	position:relative;
	left:20px;
 	
}

#modalRegisterBtn{
	float:right;
	right:50px;
	top:10px;
	
}
.chat{
	padding:30px;
}
.reply{
	text-align:left;
	padding:10px;
 
}

.nickname{
	font-size:15;
	font-weight:bold;
}
.replyUpdateBtn{
	background-color:green;
	padding:5px;
	font-size:10px;
	float:right;
	position:relative;
	right:30px;
	border-radius:30%;
}
#rembtn{
	font-size:10px;
	float:right;
	background-color:green;
	padding:5px;
	position:relative;
	right:30px;
	border-radius:30%;
}
.rembtn{
	font-size:10px;
	float:right;
	background-color:green;
	padding:5px;
	position:relative;
	right:30px;
}
.primary-font{
	float:left;
}
.repContent{
	position:relative;
	float:left;
	left:100px;
}
.header{
	padding:30px;
}
textarea#editContent{
	position:relative;
	float:left;
	bottom:25px;
	left:100px;
	width: 70%;
	height: 50px;
	resize:none;
	
}
.flashOrRegular h2{
	position:relative;
	left:260px;
	top:35px;
	font-weight:bolder;
}
.modrem {
	 float:right;
	 margin-right:15px;
	 width: 60px;
	 height:33px;
	 vertical-align: middle;
	 border: 3px solid #46e02f; 
	 border-radius: 15px; 
	 font-size: 15px;
	 color:black; 
	 font-family: 'Open Sans', sans-serif;
}		
.peopleBtn {
	background-color: #42DF2B;
	border: none;
	color: white;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 50%;
	font-weight: bold;
	
}
.search-container{
	width:1000px;
}
.list-container{
	float:left;
}
.filter{
	position:relative;
	float:right;
}
.board{
	float:left;
}
.col{
	width:200px;
}
.abcd{
	margin-bottom:30px;
}
