@charset "UTF-8";
.sidebar{
	position:relative;
	float:left;
	width:200px;
	border: 2px solid;
	border-color:#42df2b;
  	margin-top:30px;
  	margin-left:10px;
  	
}
button.modInfo{
	width:195px;
	height:40px;
	background-color: gray;
	
}
.nickname{
	background-color: #f5f5f5;
	text-align:center;
}

.sidebar-bold{
	font-weight:bolder;
	font-size:15;
}
.sidebar-normal{
	font-weight:normal;
	font-size:12;
}

hr{
	margin-top:5px;
	margin-bottom:5px;
	border-color: #42df2b;
}
.list{
    left:10px;
    line-height: 1.5;
    padding:3px;
}
.main{
	float:center;
	width:880px;
	border: 2px solid;
	border-color:#42df2b;
  	margin-top:60px;
  	margin-left:283px;
  	padding:30px;
}
.myp-title{
	text-align:left;
	position:relative;
	left:80px;
	top:50px;
	font-weight:bolder;
	font-size:17;
}
.bold{
	font-weight:bolder;
	font-size:17;
}
.myp-allview{
	margin-top:10px;
	float:right;
	font-size:12;
	font-weight: 700;
}
.myp-titleInfo{
	font-weight:bolder;
	text-align:center;
	
	position:relative;
	right:100px;
	top:20px;	
}
.myp-info{
	text-align:center;
	
	position:relative;
	right:100px;
	top:20px;	
}
.uploadbtn{
	margin:0 auto;
	display:block;
	position:relative;
	right:100px;
	top:30px;	
}
.myp-image{
	float:right;
	position:relative;
	right:170px;
	top:10px;
}
.activity-img{
	max-height: 120px;
	width:200px;
	border-radius:25%;
}
.activity-info{
}