@charset "UTF-8";
.sidebar{
	position:relative;
	float:left;
	width:200px;
	border: 2px solid;
	border-color:#42df2b;
  	margin-top:30px;
  	margin-left:10px;
  	
}
button.modInfo{
	width:195px;
	height:40px;
	background-color: gray;
	
}
.nickname{
	background-color: #f5f5f5;
	text-align:center;
}

.sidebar-bold{
	font-weight:bolder;
	font-size:15;
}
.sidebar-normal{
	font-weight:normal;
	font-size:12;
}

hr{
	margin-top:5px;
	margin-bottom:5px;
	border-color: #42df2b;
}
.list{
    left:10px;
    line-height: 1.5;
    padding:3px;
}
.main{
	float:center;
	width:880px;
	border: 2px solid;
	border-color:#42df2b;
  	margin-top:60px;
  	margin-left:283px;
  	padding:30px;
}
.myp-title{
	text-align:left;
	position:relative;
	left:80px;
	top:50px;
	font-weight:bolder;
	font-size:17;
}
.bold{
	font-weight:bolder;
	font-size:17;
}
.myp-allview{
	margin-top:10px;
	float:right;
	font-size:12;
	font-weight: 700;
}
.myp-titleInfo{
	font-weight:bolder;
	text-align:center;
	
	position:relative;
	right:100px;
	top:20px;	
}
.myp-info{
	text-align:center;
	
	position:relative;
	right:100px;
	top:20px;	
}
.uploadbtn{
	margin:0 auto;
	display:block;
	position:relative;
	right:100px;
	top:30px;	
}
.myp-image{
	float:right;
	position:relative;
	right:170px;
	top:10px;
}
.activity-img{
	max-height: 120px;
	width:200px;
	border-radius:25%;
}
.my-info{
	float:left;
	margin-top:20px;
	font-weight:700;
	font-size:15;
	margin-left:30px;
	padding:7px;
	font-family: 'Inter';
	text-align:center;
}
.id{
	position: relative;
	float:left;
	margin-left:200px;
	margin-top:15px;
	height:20px;
	resize:none;
}
.gender{
	float:left;
	text-align:center;
	font-family: 'Inter';
	margin-top:15px;
	font-weight:700;
	font-size:15;
	margin-left:137px;
	padding:7px;
}
.radio{
	
	margin-left:300px;
	margin-top:15px;
}
.my-label{
	margin-left:-20px;
}

.modrem{
	
	 float:right;
	 margin-right:80px;
	 margin-top:14px;
	 width: 150px;
	 height:33px;
	 vertical-align: middle;
	 border: 3px solid #46e02f; 
	 border-radius: 15px; 
	 font-size: 15px;
	 font-weight:700px;
	 color:#46e02f; 
	 font-family: 'Open Sans', sans-serif;
}
.nbsp{
	margin-left:120px;
	
}