<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mybatis/mapper/MateFind.xml" />
		<mapper resource="mybatis/mapper/MateReplyMapper.xml" />
		<mapper resource="mybatis/mapper/MateLike.xml" />
		<mapper resource="mybatis/mapper/MateJoin.xml" />
		<mapper resource="mybatis/mapper/MateCreate.xml" />
		<mapper resource="mybatis/mapper/UserMapper.xml" />
		<mapper resource="mybatis/mapper/Review.xml" />
		<mapper resource="mybatis/mapper/ReviewLike.xml" />
		<mapper resource="mybatis/mapper/ReviewReplyMapper.xml" />
	</mappers>
</configuration>

