<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.kosta.jupjup.dao.MateReplyDAO">
	
	<select id="read" resultType="com.kosta.jupjup.vo.MateReplyVO">
		select * from Mate_Reply where rno=#{rno}
	</select>
	
	<insert id="insert">
		insert into mate_reply (rno, no, reply, replyer) values
		(seq_matereply.nextval,#{no}, #{reply},#{replyer})
	</insert>
	
	<update id="update">
		update mate_reply set reply = #{reply}, replydate=sysdate where rno=#{rno}
	</update>
			
	<delete id="delete">
		delete from mate_reply where rno = #{rno}
	</delete>
	
	<select id="getListWithPaging" resultType="com.kosta.jupjup.vo.MateReplyVO">
		select rno, no, reply, replyer, replyDate, updatedate
		from mate_reply where no =#{no}
		order by rno asc
	</select>
	
	<update id="updateRepCnt">
		update mate set replyCnt = replycnt+1 where no=#{no}
	</update>
	<update id="minusRepCnt">
		update mate set replyCnt = replycnt-1 where no=#{no}
	</update>
	
	
</mapper>		