<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.kosta.jupjup.dao.UserDao">

<!-- 로그인 -->
	<select id="login" 
		resultType="com.kosta.jupjup.vo.UserVO">
          <![CDATA[
            SELECT USERNAME,NICKNAME,ID,PWD,EMAIL,PHONE,GENDER
            FROM USERS
            WHERE ID = #{id}
            AND PWD  = #{pwd}
   
          
             ]]>
	</select>
	
     <!-- 중복아이디 -->
    <select id="idCheck" parameterType="String"  resultType="int">
          <![CDATA[
            SELECT COUNT(*) 
            FROM USERS
            WHERE ID = #{id}
          
             ]]>
    </select>
    
    
      <!-- 회원 가입 -->
    <insert id="join" parameterType="com.kosta.jupjup.vo.UserVO">
         <![CDATA[
          INSERT INTO USERS 
        
        VALUES (#{username},#{nickname},#{id},#{pwd},#{email},#{phone},#{gender},#{profile})
         ]]>
    </insert>
   

</mapper>